.p1 {
      font-family: Tahoma;
      font-weight: bold;
      font-size: 50px;
    }
    .p2 {
      font-family: Arial;
      font-weight: bold;
      font-size: 40px;
      padding-bottom: 0px;
      line-height: 0px;
    }
    .p3 {
      font-family: Arial;
      font-weight: bold;
      font-size: 20px;
      color: red;
      padding-top: 0px;
      line-height: 0px;
    }
    .p4 {
      font-family: Verdana;
      font-weight: bold;
      padding-top: 10px;
      font-size: 30px;
      line-height: 0px;
      padding-bottom: 0px;
    }
    .p5 {
      line-height: 0px;
      padding-top: 0px;
      font-family: Verdana;
      color: gray;
      padding-bottom: 10px;
    }
    .p6 {
      font-family: verdana;
      font-size: 16px;
      min-width: 15p;
    }
    .getstarted-btn {
      color: white;
      background-color: green;
      border-style: none;

      padding: 8px 8px;
      padding-right: 15px;
      padding-left: 15px;
      border-radius: 5px;
    }
    .xp {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 56px;
      align-content: center;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    .xp2 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;

      font-size: 25px;
    }
    .xp3 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
    }
    .xp3 a {
      color: rgb(0, 0, 255);
      text-decoration: none;
    }
    .new {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: orange;
      margin: 0;
      padding: 0;
    }
    .mac {
      text-align: center;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      padding: 0;
      margin-bottom: 0px;
      padding-top: 0;
    }
    .Supercharged {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 45px;
      padding: 0;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .form {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;

      margin-bottom: 0px;
    }
    .by {
      color: white;
      background-color: blue;
      border: none;
      padding: 10px 10px 10px 10px;
      border-radius: 15px;
      margin-top: 10px;
      display: flex;
      justify-content: center; /* لتوسيط الزر أفقيًا */
      align-items: center; /* لتوسيط الزر رأسيًا إذا أحببت */
      width: 100%;
    }
    .num {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      margin: 0%;
    }
    .span-num {
      color: gray;
    }
    .green {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: green;
      margin-top: 0%;
    }
    .after {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: rgb(54, 61, 54);
      margin-top: 0%;
    }
    .span-e {
      color: red;
    }